/* SELECTOR PRIORITY
   0. !important
   1. #tag (single element)
   2. .class (multiple elements of any type)
   3. elementtype (all elements of one type)
   4. * (all elements)
 */

 body {
  background-color: lightsalmon
}
.button {
  background-color: mediumslateblue;
  border-style: inset; 
  color:rgb(255, 255, 255);
  padding: 5px 5px;
  text-align: center;
  text-decoration: wavy;
  display: inline-block;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}